<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   <title>Cupcake List</title>
</head>

<body>
  <div class="container">
    <h1 class="display-1">Cupcakes</h1>




<form id ="cupcake-form"action="/api/cupcakes" method="post">

<label for="flavor">Flavor</label><input type="text" name="flavor" id="flavor" required />
<label for="image">Image URL</label><input type="text" name="image" id="image" />
<label for="size">Size</label><input type="text" name="size" id="size" required/>
<label for="rating">Rating</label><input type="number" name="Rating" id="rating" required/>


  <button type="submit" id= "add-cupcake"class="btn  btn-primary  btn-sm" >Add</button>

</form>

    <table id ="cupcake-table"  class="table table-striped ">
      <thead class="thead-dark">
        <th>Flavor</th>
        <th> Picture</th>
        <th>Size</th>
        <th>Rating</th>
        <th>Actions</th>
      </thead>
      <tbody class="cupcake-list">
        
      </tbody>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
  integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="static/app.js"></script>
</body>

</html>